@import url("//at.alicdn.com/t/font_1280682_sxtwmg72af.css");
@import "DiagramTheme";


.bm-diagram {
  width: 100%;
  height: 100%;
}

.iconfont {
  vertical-align: middle;
}

.none-pointer-events {
  pointer-events: none;
}

.bm-node-layer {
  position: relative;
  //border: red 1px solid;
  display: flex;
  align-items: center;

  .bm-node {
    display: flex;
    align-items: center;

    padding: 10px;
    div {
      flex-shrink: 0;
    }



    .bm-children {
      position: relative;
    }
  }

  .topic {
    display: flex;
    position: relative;
    align-items: center;

    .content-editing {
      background-color: #E0E0E0;
    }

    .content {
      word-wrap: break-word;
      white-space: pre-line;
      cursor: pointer;
    }
    .content-drag-enter {
      background-color: brown;
    }

    .content-dir-0 {
      padding: 6px 0 6px 20px;
    }

    .content-dir-1 {
      padding: 6px 20px 6px 0;
    }

    .collapse-line {
      height: 2px;
      width: 30px;
      background: orange;
    }

    .collapse-line-hide {
      background: transparent;
    }

    .normal-collapse-line-1 {
      position: absolute;
      bottom: -1px;
      right: 0;
    }
    .normal-collapse-line-0 {
      position: absolute;
      bottom: -1px;
      left: 0;
    }

    .collapse-icon {
      position: relative;
      top: -8px;
      left: 5px;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      text-align: center;
      background-color: orange;
      cursor: pointer;
      padding: 0;
      font-size: 14px;
      line-height: 20px;
      border: 0;
    }
  }
}



.bm-node-layer-left {
  display: flex;
  position: relative;
  align-items: flex-end;
  flex-direction: column;
  padding-right: 60px
}
.bm-node-layer-right {
  display: flex;
  position: relative;
  flex-direction: column;
  padding-left: 60px;
}

.bm-dir-0 {
  flex-direction: row-reverse;
}

.bm-dir-1 {
  flex-direction: row;
}

.bm-link {
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
}

.bm-focus-svg {
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
}

.bm-node-popup-menu {
  position: absolute;
  bottom: calc(100% + 5px);
  left: 0;
  padding: 0 8px;
  border-radius: 10px;
  background-color: white;
  box-shadow: rgb(170, 170, 170) 5px 5px 10px;
  cursor: pointer;
  z-index: 1;

  width: max-content;
  height: 50px;

  .popup-menu-item {
    display: inline-block;
    margin: 10px;
    &:hover {
      color: orange;
    }
    .icon {
      text-align: center;
    }
    .label {
      font-size: 20%;
    }
  }
}

.fXedfB {
  background: inherit;
}


