@import url("//at.alicdn.com/t/font_1280682_oemd9z9tv6.css");
@import "MindDiagramTheme";
.bm-diagram {
  width: 100%;
  height: 100%;
}

.iconfont {
  vertical-align: middle;
}

.bm-node-layer {
  position: relative;
  //border: red 1px solid;
  display: flex;
  align-items: center;

  .bm-node {
    display: flex;
    align-items: center;
    padding: 10px;
    div {
      flex-shrink: 0;
    }

    .topic {
      display: flex;
      position: relative;
      align-items: center;
      .content {
        word-wrap: break-word;
        white-space: pre-line;
      }

      .content-dir-0 {
        padding-bottom: 20px;
        padding-left: 20px;
      }

      .content-dir-1 {
        padding-bottom: 20px;
        padding-right: 20px;
      }

      .collapse-line {
        height: 2px;
        width: 30px;
        background: orange;
      }

      .collapse-line-hide {
        background: transparent;
      }

      .normal-collapse-line-1 {
        position: absolute;
        bottom: -1px;
        right: 0;
      }
      .normal-collapse-line-0 {
        position: absolute;
        bottom: -1px;
        left: 0;
      }

      .collapse-icon {
        position: relative;
        top: -8px;
        left: 5px;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        text-align: center;
        background-color: orange;
        cursor: pointer;
        padding: 0;
        font-size: 14px;
        line-height: 20px;
        border: 0;
      }
    }

    .bm-children {
      position: relative;
    }
  }
}

.bm-node-layer-left {
  display: flex;
  position: relative;
  align-items: flex-end;
  flex-direction: column;
  padding-right: 30px
}
.bm-node-layer-right {
  display: flex;
  position: relative;
  flex-direction: column;
  padding-left: 30px;
}

.bm-dir-0 {
  flex-direction: row-reverse;
}

.bm-dir-1 {
  flex-direction: row;
}

.bm-link {
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
}
